@import './../../styles/variables.scss';
@import './../../styles/pipes.scss';

.fav_item {
    position: relative;
    margin: 1px 1px 5px;
    padding: 30px 10px 10px;
    .font_info__category {
        margin-top: -20px !important;
    }
    .font__interaction__code {
        flex-direction: column;
        margin: 0;
        .btn {
            margin: 1px 0;
        }
    }
    .btn_add, .btn_delete {
        margin-top: 5px;
    }

}

@media only screen and (min-width: 768px) {
    .fav_item {
        .font_info {
            &__title {
                font-size: $font-size-md;
            }
        }
    }
}