._uppercase {
  text-transform: uppercase; }

._capitalize {
  text-transform: capitalize; }

.font_info__link {
  padding: 0 !important;
  display: inline !important; }

.font_info__title {
  font-size: 18px;
  margin: 0;
  padding: 0 !important;
  color: royalblue;
  display: inline-block; }

.font_info__category {
  font-size: 12px; }

.font_info__dropdown-btn {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0; }

.font_info .collection {
  margin: 0; }
  .font_info .collection .collection-item {
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; }

@media only screen and (min-width: 768px) {
  .font_info__title {
    font-size: 20px; } }
