._uppercase {
  text-transform: uppercase; }

._capitalize {
  text-transform: capitalize; }

.font-info__link {
  font-size: 22px;
  margin: 0;
  color: royalblue;
  display: inline-block; }

.font-info__category {
  font-size: 12px; }

.font-info__dropdown-btn {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0; }

.font-info .collection {
  margin: 0; }
  .font-info .collection .collection-item {
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
