@import './../../styles/variables.scss';
@import './../../styles/pipes.scss';

.font_info {
    &__link {
        padding: 0 !important;
        display: inline !important;
    }
    &__title {
        font-size: $font-size-md;
        margin: 0;
        padding: 0 !important;
        color: royalblue;
        display: inline-block;
    }
    &__category {
        font-size: $font-size-sm;
    }
    &__dropdown-btn {
        font-size: $font-size-sm;
        position: absolute;
        top: 0;
        right: 0;
    }
    .collection {
        margin: 0;
        .collection-item {
            padding: 10px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (min-width: 768px) {

    .font_info {
        &__title {
            font-size: $font-size-lg;
        }
    }
}