@import './../../styles/variables.scss';
@import './../../styles/pipes.scss';
.font-set {
    .font-set__title {
        font-size: $font-size-md;
        margin: 0;
        padding: 0 !important;
        color: royalblue;
        display: inline-block;
    }
    &__interaction {
        &__code {
            .btn {
                margin: 0 2px 15px;
                min-width: 100%;
            }
        }
    }
    
    @media only screen and (min-width: 768px) {
        .fav_item {
            .font__interaction {
                &__code {
                    .btn {
                        min-width: 150px;
                    }
                }
            }
        }
        
    }
}