.sidenav__menu {
  margin: 0;
  height: 100%; }
  .sidenav__menu__item, .sidenav__menu__item.active {
    margin: 1px;
    background: lightgrey !important; }

.sidenav__close-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2147483647;
  background: dimgrey !important; }

.sidenav .favorites .collapsible-body, .sidenav .font-set .collapsible-body {
  padding: 5px;
  background: gainsboro !important;
  height: 300px;
  overflow-y: scroll; }

.sidenav .font-set > .collapsible-header > i {
  color: #2196F3 !important; }

.sidenav .favorites > .collapsible-header > i {
  color: #F44336 !important; }
