main {
    display: flex;
    margin-top: 7vh;
    padding: 0;
    background: #4dd0e1;
    padding-top: 1vh;
    div.my-container {
        width: 100%;
        display: flex;
        padding: 0 3vw;
        margin: 0;
        div.progress {
            margin-top: 2vh;
            width: 70vw;
        }
    }
}