.menu {
    margin: 0;
    height: 100%;
    .collapsible-header {
        border: 1px solid white;
    }
    .collapsible-body {
        width: 100%;
//         margin: 0;
//         padding: 0;
    }
    .collection-item .row {
        margin: 0;
    }
}