.font {
  position: relative;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .font__interaction {
    display: flex;
    justify-content: space-around; }
    .font__interaction__btn {
      min-width: 130px; }

@media only screen and (min-width: 426px) {
  .font-card {
    flex: 1;
    margin: 20px; } }
