.font-card {
  position: relative;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .font-card .font-interaction {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; }
  .font-card .btn {
    min-width: 130px; }
